body{
	background: #ccccbd url('imagens/fundo.png');
	font: 16px Arial, Helvetica, sans-serif;
}

#principal {
	width:100%;
}

#menu {
	background: #f780c9;
	padding: 18px;
}

#conteudo {
	
	padding: 5px;
}

#rodape {
	text-align: center;
	font-size: small;
}

a {
	color: #030303;
	text-decoration: none;
	font-weight: bold;
	padding: 5px;
}

.img-capa{
	width: 100%;
	height: 300px;
	object-fit: cover;
	object-position: bottom;
  }

.centralizar {
	text-align: center;
}

h1 {
	color: #000000;
	font-size: 2.2em;
}

#video-projetos{ 
	max-width:300px;
	max-height:200px;
	width:auto; 
	height:auto;
	margin-top: 30px;
	border: 10px dotted rgb(233, 64, 188);
}

#retangulo {
	line-height:0;
	width:auto;
	height:250px;
	float: left;
	border: 1px solid purple
	
	
}

#retangulo-1{
	width:250px;
	height:250px;
	float:left;
	background: #f8d0e9;
}
#retangulo-2{
	width:350px;
	height:250px;
	float:left;
	background: #f8d0e9;
	
}